p, h1 {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}

h1 {
    padding: 40px;
    background-color: rgb(49, 133, 201);
    margin: 0px 250px 0px 250px;
    font-size: 60px;
    
}

p {
    margin: 0px 500px 0px 500px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(119, 189, 255);
    font-size: 40px;
}

body {
    background-color: rgb(197, 193, 187);
}

.extraspace {
    padding-bottom: 90px;
    padding-top: 70px;
}